.no-sidebar {
  width: 100% !important;
  overflow: hidden;
}
.no-sidebar main#main.site-main {
  width: 100% !important;
  display: grid;
  grid-template-rows: 200px;
  grid-gap: 20px;
}

@media (min-width: 768px) {
  .no-sidebar main#main.site-main {
    grid-template-columns: repeat(2, 1fr);
  }
}

a.horse-list-view {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #000;
  color: #fff;
  min-height: 200px;
}

a.horse-list-view h3, 
a.horse-list-view a {
  color: #fff;
}
