/*
 Theme Name:   Twenty Seventeen Child
 Theme URI:    
 Description:  Twenty Seventeen Child Theme
 Author:       Red Earth
 Author URI:   https://redearthdesign.com/
 Template:     twentyseventeen
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Text Domain:  twentyseventeen-child
*/

@media screen and (max-width: 767px) {
    .navigation-top {
        display: none;
    }
}
